.example-tree-invisible {
  display: none;
}

.example-tree ul,
.example-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}
*,*:focus,*:hover{
    outline:none;
}

.dropdown{
  display: flex;
  flex-direction: column;
  width: 250px;
  max-height: 500px;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 1px 10px 0 rgb(0 0 0 / 25%)
}
.tileWrapper{
    max-width: min-content;
    height: 16px;
    border: 1px solid rgba(185, 190, 199, 0.5);
    border-radius: 2px;
    display: flex;
    align-items: center;
    position: relative;
    padding: 0px 4px;
    margin: 2px 5px 2px 0;
    cursor: pointer;
}
.tileDiv{
  padding: 10px 12px;
}
.tile{
    font-weight: 400;
    font-size: 12px;
    line-height: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #7c828d;
    max-width: 100%;
}
.container{
  width: 100%;
  height: 100%;
  padding: 20px;
}
.searchInputWrapper{
  display: flex;
  padding: 1px 12px;
  border-bottom: 1px solid #f4f4f4;
}
.searchInputWrapper>div{
  margin: auto 0px;
}
.serachWrapper{
  width: calc(100% - 28px);
}
.searchInput{
  font: 400 13px/1 Gotham Pro,Proxima Nova,arial,serif;
  height: 40px;
  padding: 0px 10px;
  display: block;
  width: 100%;
  border: 0;
  margin: 0 0 -1px;
  color: #343434;
}
.material-icons{
  vertical-align: sub;
  font-size: 18px;
}
.clearInput{
  padding: 0px;
  margin: 0px;
  border: none;
  background: transparent;
  cursor: pointer;
}
.close{
  color: lightgray;
}
.gray{
  color: lightgray;
}
.clearInput:hover> .close{
  color: #7b68ee ;
  transition: 0.5s;
  transform: rotateZ(180deg);
}
::placeholder {
  color: lightgray;
  opacity: 1; /* Firefox */
}
input:active{
  .change-color{
    color: #7b68ee !important;
  }
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: lightgray;
}

::-ms-input-placeholder { /* Microsoft Edge */
 color: lightgray;
}
.initial{
    width: 20px;
    height: 20px;
    background: #7c828d;
    color: white;
    font-size: 8px;
    position: relative;
    margin: auto 0px;
    margin-right: 5px;
    border-radius: 5px;
}
.initial>span{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.nodeNmae{
  width: 100%;
  text-align: left;
}
.name{
  display: flex;
  font-size: 14px;
  font-weight: lighter;
}
:host ::ng-deep .mat-button-wrapper{
  display: flex
}
.mat-tree{
  max-height: 500px;
  overflow: auto;
  padding: 10px 0px;
}
ul{
  padding: 0px 10px !important;
}
ul>.mat-tree-node{
  padding-left: 30px;
}
.folderIcon{
  margin-right: 5px;
}
.folderIcon:hover{
  color: #7b68ee;
}
.events{
  margin-right: 5px;
}
.events:hover{
  color: #7b68ee;
}
.stars{
  margin-right: 5px;
}
.stars:hover{
  color: #7b68ee;
}
.bullet{
  color: lightgray;
  margin-right: 5px;
}

.addInputBtn>button{
  margin: 0px;
  padding: 0px;
  border: none;
  background: transparent;
  position: absolute;
  right: 5px;
  top: 7px
}
.addInputBtn>button:hover span{
  color: #7b68ee;
  cursor: pointer;
}
